*{
    margin: 0%;
    padding: 0%;
    color: #171718;
}
body{
    background-color: #333435;
}
.options{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    background-color: #52616b;
    width: 40%;
    border-radius: 10px;
}
.select a{
    display: grid;
    justify-content: center;
    font-size: 130%;
    font-weight: 800;
    padding: 5% 3%;
    text-decoration: none;
}
/*
    uploader
*/
header{
    background-color: #52616b;
}
header .top{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .top #menu{
    width: 33px;
    cursor: pointer;
    opacity: 87%;
}
header .top img{
    width: 100%;
}
header #down{
    height: 0px;
    overflow: auto;
    transition-property: all;
    transition-duration: 500ms;
}
header #down::-webkit-scrollbar{
    background-color: transparent;
    width: 4px;
}
header #down::-webkit-scrollbar-thumb{
    background-color: #c9d6df;
}
header #down .option{
    width: 100%;
}
header #down .option a{
    font-size: 120%;
    font-weight: 800;
    padding: 1%;
    display: grid;
    text-decoration: none;
}
a:hover{
    background-color: #c9d6df;
}
section{
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}
form{
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.58);
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.58);
    height: 50px;
    background-color: #52616b;
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
}
form label{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form img{
    height: 80%;
}
#info{
    overflow: auto;
    width: 70%;
    display: flex;
    align-items: center;
}
form button{
    background-color: transparent;
    width: 10%;
    border: none;
    height: 100%;
}
form button img{
    height: 60%;
}
.save{
    opacity: 80%;
}
form button, form label{
    cursor: pointer;
}
input{display: none;}
@media screen and (max-width: 768px){
    .select a{
        font-size: 140%;
        padding: 7% 3%;
    }
    .select{
        width: 70%;
    }
    header .top{
        padding: 2%;
    }
    header #down .option a{
        font-size: 120%;
        padding: 3.5%;
    }
    form{
        padding: 0.5% 3%;
    }
}