extends images

block directory_tittle
    h2 /documents
    
block directory_select
    form(action="/documents", method="post" enctype="multipart/form-data")
        label.imag(for="file-upload")
            img(src="icons/files.png", alt="")
        input(id="file-upload" onchange='cambiar()' type="file" name="file")
        #info ...
        button
            img.save(src="icons/save.png", alt="")