<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="icons/favicon.png", type="image/x-icon")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style/main.css")
        title Cloud
    body

    block head
        .options
            .select
                a(href="/images") Images
                a(href="/video") Video
                a(href="/audio") Audio
                a(href="/documents") Documents